<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/medi"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"

        android:roundIcon="@drawable/lp"
        android:supportsRtl="true"
         >

         <activity
            android:name=".ViewUserdetails"
            android:exported="false" />
        <activity
            android:name=".PatientMedicalbyadharcard"
            android:exported="false" />
        <activity
            android:name=".MedicalActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorAboutus"
            android:exported="false" />
        <activity
            android:name=".DoctorProfile"
            android:exported="false" />
        <activity
            android:name=".HelathCard"
            android:exported="false" />
        <activity
            android:name=".DoctorForgetPassword"
            android:exported="false" />
        <activity
            android:name=".DoctorRegister"
            android:exported="false" />
        <activity
            android:name=".DoctorLogin"
            android:exported="false" />
        <activity
            android:name=".ChooseActivity"
            android:exported="false" />
        <activity
            android:name=".ViewMedicalHistory"
            android:exported="false" />
        <activity
            android:name=".PatientMedicalHistory"
            android:exported="false" />
        <activity
            android:name=".DoctorHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".NewMedicalHistory"
            android:exported="false"
            android:label="New History" />
        <activity
            android:name=".OldMedicalHistory"
            android:exported="false"
            android:label="Old History" />
        <activity
            android:name=".MedicalHistory"
            android:exported="false"
            android:label="Medical History" />
        <activity
            android:name=".AddHealthissue"
            android:exported="false"
            android:label="Add Health Issue" />
        <activity
            android:name=".ViewUserProfile"
            android:exported="false"
            android:label="Profile" />
        <activity
            android:name=".UserHomeActivity"
            android:exported="false"
            android:label="User Home" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:label="Registartion " />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="Login" />
        <activity
            android:name=".CurrentDisasesActivity"
            android:exported="false"
            android:label="Current Disases" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Health Care">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>